$def with(title, data)

$var title: $title

$if mobile and mobile == 'xhtmlmp':
    $msg['msg_mobile_not_available'].capitalize().
$elif mobile and mobile == 'wml':
    $msg['msg_wap_not_available'].capitalize().
$else:
    <script type='text/javascript'>
    $$(document).ready(function(){
        $$.ajaxSetup({
            cache: false
        });
           
        function msgok(c, m)
        {
            c.html('<div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: 4px;"></span>' + m + '</div>');
        }

        function msgerr(c, m)
        {
            c.html('<div class="ui-state-error ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 4px;"></span>' + m  + '</div>');
        } 
        
        $if not data['yahoo']:
            var nodata = $$('#nodata');
            msgok(nodata,'$msg['msg_yahoo_empty'].capitalize().');
                    

        $if data['message']:
            $if not data['yahoo']:
                var smmsg = $$('#nodata');
            $else:
                var smmsg = $$('#msg');
            smmsg.show();
            $if data['message'][0] == 'ok':
                msgok(smmsg, "$data['message'][1].capitalize().");
            $else:
                msgerr(smmsg, "$data['message'][1].capitalize().");
            

        $$('#add').button({
            icons: {primary: 'ui-icon-plus'},
            text: true
        });
        
        $for i in data['yahoo']:
            $$('#link-del-$i.id').click(function(){
                $$("#dialog-confirm-$i.id").dialog({
                    resizable   : false,
                    height      :240,
                    modal       : true,
                    draggable   : false,
                    buttons: {
                        "$msg['cmd_yes']": function() {
                            $$(this).dialog('close');

                            var dmsg = $$('#msg');
                            dmsg.show();
                            dmsg.html("<br><i>$msg['msg_wait']</i>");
                            
                            $$.post(
                                "$ub('/admin/yahoo/del')",
                                {id: $i.id, api:1},
                                function (data)
                                {
                                    if (data == 'value')
                                    {
                                        msgerr(dmsg, "$msg['msg_error'].capitalize(). $msg['msg_input_error'].capitalize().");
                                    }
                                    else if (data == 'error')
                                    {
                                        msgerr(dmsg, "$msg['msg_error'].capitalize(). $msg['cmd_please'].capitalize() <a href='$ub('/contact')'>$msg['menu_contact']</a>.");
                                    }
                                    else if (data == 'ok')
                                    {
                                        window.location.href='$ub('/admin/yahoo')';
                                    }
                                }                       
                            );     

                        },
                        "$msg['cmd_no']": function() {
                            $$(this).dialog('close');
                        }
                    }
                });

            });

            

    });
    </script>

    <div class='content'>
    <h3>
    <a href="$ub('/admin')">$msg['title_admin'].capitalize()</a>
    &nbsp; &rarr; &nbsp; 
    $msg['title_admin_yahoo'].capitalize()
    &nbsp;
    [&nbsp;<a href='#new'>$msg['cmd_new']</a>&nbsp;]
    </h3>
    <br>
    $if not data['yahoo']:
        <div id='nodata'></div>
    $else:
        <div id='msg' style='display: none;'></div>
        <br>
        <table class='admin_yahoo'>
        <th>$msg['header_yahoo_account'].capitalize()</th>
        <th>$msg['header_yahoo_action'].capitalize()</th>
        $for i in data['yahoo']:
            <tr>
            <td>
            $i.account[0]
            </td>        
            <td>
            <a href='#' id='link-del-$i.id'>$msg['cmd_yahoo_del']</a>
            </td>
            </tr>
        </table>

        $for i in data['yahoo']:        
            <div style='display: none;'>
            <div id="dialog-confirm-$i.id" title="$msg['msg_confirm_title'].capitalize()">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin: 0 20px 20px 0;"></span>$msg['msg_yahoo_del_confirm'].capitalize(): <b>$i.account[0]</b>?</p>
            </div>
            </div>

    <br><br>
    <a name='new'></a>
    <form action="$ub('/admin/yahoo/save')" method='post'>
    <input type='hidden' value='add' name='type'>
    <h3>$msg['header_yahoo_new'].capitalize()</h3><br>
    <table class='admin_yahoo'>
    <tr>
    <td>
    <b>$msg['header_yahoo_account'].capitalize()</b>
    </td>
    <td><input type='text' name="account.new" value=''></td>
    </tr>

    <tr>
    <td>
    &nbsp;
    </td>
    <td align='right'>
    <input type='submit' id='add' value="$msg['cmd_yahoo_add']">
    </td>
    </tr>
    </table>
    </form>

        
    </div>
