$def with(title, data)

$var title: $title

$if mobile and mobile == 'xhtmlmp':
    $msg['msg_mobile_not_available'].capitalize().
$elif mobile and mobile == 'wml':
    $msg['msg_wap_not_available'].capitalize().
$else:
    <script type='text/javascript'>
    $$(document).ready(function(){
        $$.ajaxSetup({
            cache: false
        });
           
        function msgok(c, m)
        {
            c.html('<div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: 4px;"></span>' + m + '</div>');
        }

        function msgerr(c, m)
        {
            c.html('<div class="ui-state-error ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 4px;"></span>' + m  + '</div>');
        } 
        
        $if not data['item']:
            var nodata = $$('#nodata');
            msgok(nodata,'$msg['msg_product_item_empty'].capitalize().');
                    

        $if data['message']:
            $if not data['item']:
                var smmsg = $$('#nodata');
            $else:
                var smmsg = $$('#msg');
            smmsg.show();
            $if data['message'][0] == 'ok':
                msgok(smmsg, "$data['message'][1].capitalize().");
            $else:
                msgerr(smmsg, "$data['message'][1].capitalize().");
            

        $$('#add').button({
            icons: {primary: 'ui-icon-plus'},
            text: true
        });

        $$('#edit').button({
            icons: {primary: 'ui-icon-disk'},
            text: true
        });

        
        $for i in data['item']:
            $$('#link-del-$i.id').click(function(){
                $$("#dialog-confirm-$i.id").dialog({
                    resizable   : false,
                    height      :240,
                    modal       : true,
                    draggable   : false,
                    buttons: {
                        "$msg['cmd_yes']": function() {
                            $$(this).dialog('close');

                            var dmsg = $$('#msg');
                            dmsg.show();
                            dmsg.html("<br><i>$msg['msg_wait']</i>");
                            
                            $$.post(
                                "$ub('/admin/product/item/del')",
                                {id: $i.id, api:1},
                                function (data)
                                {
                                    if (data == 'value')
                                    {
                                        msgerr(dmsg, "$msg['msg_error'].capitalize(). $msg['msg_input_error'].capitalize().");
                                    }
                                    else if (data == 'error')
                                    {
                                        msgerr(dmsg, "$msg['msg_error'].capitalize(). $msg['cmd_please'].capitalize() <a href='$ub('/contact')'>$msg['menu_contact']</a>.");
                                    }
                                    else if (data == 'ok')
                                    {
                                        window.location.href='$ub('/admin/product/item')';
                                    }
                                }                       
                            );     

                        },
                        "$msg['cmd_no']": function() {
                            $$(this).dialog('close');
                        }
                    }
                });

            });

            

    });
    </script>

    <div class='content'>
    <h3>
    <a href="$ub('/admin')">$msg['title_admin'].capitalize()</a>
    &nbsp; &rarr; &nbsp; 
    <a href="$ub('/admin/product')">$msg['title_admin_product'].capitalize()</a>
    &nbsp; &rarr; &nbsp; 
    $msg['title_admin_product_item'].capitalize()
    &nbsp;
    [&nbsp;<a href='#new'>$msg['cmd_new']</a>&nbsp;]
    </h3>
    <br>
    $if not data['item']:
        <div id='nodata'></div>
    $else:
        <div id='msg' style='display: none;'></div>
        <br>
        <form action="$ub('/admin/product/item/save')" method='post'>
        <input type='hidden' name='type' value='edit'>
        <table class='admin_product'>
        <th>$msg['header_product_item_group'].capitalize()</th>
        $for j in ulang.keys():
            <th>$ulangd(ulang[j][1])</th>
        <th>$msg['header_product_item_stock'].capitalize()</th>
        <th>$msg['header_product_item_price'].capitalize()</th>
        <th>$msg['header_product_item_taxratio'].capitalize()</th>
        <th>$msg['header_product_item_file'].capitalize()</th>
        <th>$msg['header_product_item_action'].capitalize()</th>
        $for i in data['item']:
            $ did = i['id']
            <tr>
            <td>
            <select name='product_id.$did'>
            $for k in data['group']:
                $if i['product_id'][0] == k.id:
                    <option value='$k.id' selected>$k.name[1]</option>
                $else:
                    <option value='$k.id'>$k.name[1]</option>
            </select>
            </td>
            $for j in ulang.keys():
                $ dat = i['name'][0]
                $ key = ulang[j][0]
                <td><input type='text' size='10' name="$did.$key" value='$dat[key]' size='18'></td>
            <td><input type='text' name="stock.$did" value='$i['stock']' size='4'></td>
            <td><input type='text' name="price.$did" value='$i['price']' size='6'></td>
            <td><input type='text' name="taxratio.$did" value='$i['taxratio']' size='3'></td>
            <td>
            <select name='vfile_id.$did'>
            <option value='0'></option>
            $for k in data['files']:
                $if i['variant_file_id'] == k.id:
                    <option value='$k.id' selected>$k.name</option>
                $else:
                    <option value='$k.id'>$k.name</option>
            </select>
            </td>
            <td>
            <a href='#' id='link-del-$i.id'>$msg['cmd_product_item_del']</a>
            </td>
            </tr>
        <tr>
        $ cspan = len(ulang.keys()) + 5
        $if data['cart_check_stock'] == '1':
            $ cstock = msg['msg_active']
        $else:
            $ cstock = msg['msg_not_active']
        <td colspan='$cspan'>
        
        &rarr;&nbsp;<span class='admininfo'>$msg['desc_product_item_number'].capitalize()</span>
        <br><br>
        &rarr;&nbsp;<span class='admininfo'>$msg['desc_product_item_set_currency'].capitalize()</span>
        &nbsp;<a href="$ub('/admin/system')">$msg['title_admin'] &rarr; $msg['title_system']</a>.
        &nbsp;<span class='admininfo'>$msg['desc_product_item_use_currency'].capitalize(): <b>$data['item'][0].currency_id[3]</b>.</span>
        <br><br>
        &rarr;&nbsp;<span class='admininfo'>$msg['desc_product_item_cart_check_stock'].capitalize()</span>
        &nbsp;<a href="$ub('/admin/system')">$msg['title_admin'] &rarr; $msg['title_system']</a>.
        &nbsp;<span class='admininfo'>$msg['desc_product_item_use_cart_check_stock'].capitalize(): <b>$cstock</b>.</span>
        </td>
        <td><input type='submit' id='edit' value="$msg['cmd_product_item_save']"></td>
        </tr>
        </table>
        </form>

        $for i in data['item']:        
            <div style='display: none;'>
            <div id="dialog-confirm-$i.id" title="$msg['msg_confirm_title'].capitalize()">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin: 0 20px 20px 0;"></span>$msg['msg_product_item_del_confirm'].capitalize(): <b>$i.name[1]</b>?</p>
            </div>
            </div>

    <br><br>


    <a name='new'></a>
    <form action="$ub('/admin/product/item/save')" method='post'>
    <input type='hidden' name='type' value='add'>
    <h3>$msg['header_product_item_new'].capitalize()</h3><br>
    <table class='admin_product'>
    <tr>
    <td>
    <b>$msg['header_product_item_name'].capitalize()</b>
    <br>
    <span class='admininfo2'>($msg['desc_product_item_name'])</span>
    </td>
    <td>
    <table class='admin_product'>
    $for j in ulang.keys():
        $ key = ulang[j][0]
        <tr>
        <td width='25%' valign='top'>$ulangd(ulang[j][1])</td>
        <td><input type='text' name="new.$key" value=''></td>
        </tr>
    </table>
    </td>
    </tr>

    <tr>
    <td>
    <b>$msg['header_product_item_group'].capitalize()</b>
    <br>
    <span class='admininfo2'>($msg['desc_product_item_group'])</span>
    </td>
    <td>
    <select name='product_id.new'>
    $for k in data['group']:
        <option value='$k.id'>$k.name[1]</option>
    </select>
    </td>
    </tr>


    <tr>
    <td>
    $msg['header_product_item_stock'].capitalize()
    <br>
    <span class='admininfo2'>($msg['desc_product_item_stock'])</span>
    </td>
    <td><input type='text' size='4' value="0" name='stock.new'></td>
    </tr>

    <tr>
    <td>
    $msg['header_product_item_price'].capitalize()
    <br>
    <span class='admininfo2'>($msg['desc_product_item_price'])</span>
    </td>
    <td><input type='text' size='4' value="0" name='price.new'></td>
    </tr>

    <tr>
    <td>
    $msg['header_product_item_taxratio'].capitalize()
    $:dkget(msg, 'desc_product_item_taxratio', "<br><span class='admininfo2'>(", ')</span>')
    </td>
    <td><input type='text' size='4' value="0" name='taxratio.new'></td>
    </tr>

    <tr>
    <td>
    $msg['header_product_item_file'].capitalize()
    $:dkget(msg, 'desc_product_item_file', "<br><span class='admininfo2'>(", ')</span>')
    </td>
    <td>
    <select name='vfile_id.new'>
    <option value='0'></option>
    $for i in data['files']:
        <option value='$i.id'>$i.name</option>
    </select>
    </td>
    </tr>



    <tr>
    <td>
    &nbsp;
    </td>
    <td align='right'>
    <input type='submit' id='add' value="$msg['cmd_product_item_add']">
    </td>
    </tr>
    </table>
    </form>

        
    </div>
