$def with(title, data)

$var title: $title

$if mobile and mobile == 'xhtmlmp':
    $msg['msg_mobile_not_available'].capitalize().
$elif mobile and mobile == 'wml':
    $msg['msg_wap_not_available'].capitalize().
$else:
    <script type='text/javascript'>
    $$(document).ready(function(){
        $$.ajaxSetup({
            cache: false
        });
           
        $$('textarea').wysiwyg({
            css : { fontFamily: 'Arial, Tahoma', fontSize : '12px'},
            controls: {
                bold : { visible : true },
                strikeThrough : { visible : true },
                underline     : { visible : true },
                  
                separator00 : { visible : false },
                 
                justifyLeft   : { visible : false },
                justifyCenter : { visible : false },
                justifyRight  : { visible : false },
                justifyFull   : { visible : false },
                  
                separator01 : { visible : false },
                  
                indent  : { visible : false },
                outdent : { visible : false },
                  
                separator02 : { visible : true },
                  
                subscript   : { visible : true },
                superscript : { visible : true },
                  
                separator03 : { visible : true },
                  
                undo : { visible : false },
                redo : { visible : false },
                  
                separator04 : { visible : false },
                  
                insertOrderedList    : { visible : true },
                insertUnorderedList  : { visible : true },
                insertHorizontalRule : { visible : false },

                separator05 : { visible : false },
                
                createLink : { visible : false },
                insertImage : { visible : false },

                separator06 : { visible : false },
                h1mozilla : { visible : false },
                h2mozilla : { visible : false },
                h3mozilla : { visible : false },
                h1 : { visible : false },
                h2 : { visible : false },
                h3 : { visible : false },
                h4 : { visible : false },
                h5 : { visible : false },
                h6 : { visible : false },

                separator07 : { visible : true },
                
                increaseFontSize: { visible : true },
                decreaseFontSize: { visible : true },
                  
                cut   : { visible : false },
                copy  : { visible : false },
                paste : { visible : false },
                
                separator08 : { visible : false },
                
                
                
                separator09 : { visible : false },
                            
                html : { visible : true },
                
                removeFormat : { visible : false }
                
                
                     
            }
        });   
        
        function msgok(c, m)
        {
            c.html('<div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: 4px;"></span>' + m + '</div>');
        }

        function msgerr(c, m)
        {
            c.html('<div class="ui-state-error ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 4px;"></span>' + m  + '</div>');
        } 
        

        $if data['message']:
            var smmsg = $$('#msg');
            smmsg.show();
            $if data['message'][0] == 'ok':
                msgok(smmsg, "$data['message'][1].capitalize().");
            $else:
                msgerr(smmsg, "$data['message'][1].capitalize().");
            

        $$('#edit').button({
            icons: {primary: 'ui-icon-plus'},
            text: true
        });

    });
    </script>

    <div class='content'>
    <h3>
    <a href="$ub('/admin')">$msg['title_admin'].capitalize()</a>
    &nbsp; &rarr; &nbsp; 
    <a href="$ub('/admin/go')">$msg['title_admin_go'].capitalize()</a>
    &nbsp; &rarr; &nbsp; 
    $msg['header_go_edit'].capitalize()
    </h3>
    <br>
    <div id='msg' style='display: none;'></div>
    <br>
    <form action="$ub('/admin/go/save')" method='post'>
    <input type='hidden' name='type' value='edit'>
    <input type='hidden' name='id' value="$data['go'][0].id">
    <table class='admin_general'>

    <tr>
    <td><b>$msg['header_go_page'].capitalize()</b>
    $:dkget(msg, 'desc_go_page', "<br><span class='admininfo2'>(", ')</span>')</span>
    </td>
    <td>
    <table class='admin_general' style='width: 100%;'>
    <tr>
    $for j in ulang.keys():
        $ key = ulang[j][0]
        $ dat = data['go'][0].page[0]        
        <td style='vertical-align: top;'>
        <span style='font-size: 100%'>$ulangd(ulang[j][1])</span><br>
        <input type='text' name="page.$key" value="$dat[key]">
        </td>
    </tr>
    </table>
    </td>
    </tr>

    <tr>
    <td><b>$msg['header_go_content'].capitalize()</b>
    $:dkget(msg, 'desc_go_content', "<br><span class='admininfo2'>(", ')</span>')</span>
    </td>
    <td>
    <table class='admin_general'>
    <tr>
    $for j in ulang.keys():
        $ key = ulang[j][0]
        $ dat = data['go'][0].content[0]        
        <td style='vertical-align: top;'>
        <span style='font-size: 100%'>$ulangd(ulang[j][1])</span><br>
        <textarea type='text' name="content.$key" cols='35' rows='5'>$dat[key]</textarea>
        </td>
    </tr>
    </table>
    </td>
    </tr>


    <tr>
    <td>$msg['header_go_priority'].capitalize()
    $:dkget(msg, 'desc_go_priority', "<br><span class='admininfo2'>(", ')</span>')</span>
    </td>
    <td>
    <input name='priority' size='6' value="$data['go'][0].priority">
    </td>
    </tr>

    <tr>
    <td>$msg['header_go_show_in_menu'].capitalize()
    </td>
    <td>
    <select name='show_in_menu'>
    $for i in [ (0, msg['cmd_no']), (1, msg['cmd_yes']) ]:
        $if data['go'][0].show_in_menu == i[0]:
            <option value='$i[0]' selected>$i[1]</option>
        $else:
            <option value='$i[0]'>$i[1]</option>

    </select>
    </td>
    </tr>



    <tr>
    <td align='right' colspan='2'>
    <input type='submit' id='edit' value="$msg['cmd_go_edit']">
    </td>
    </tr>
    </table>
    </form>

        
    </div>
