$def with(title, data)

$var title: $title

$if mobile and mobile == 'xhtmlmp':
    $msg['msg_mobile_not_available'].capitalize().
$elif mobile and mobile == 'wml':
    $msg['msg_wap_not_available'].capitalize().
$else:
    <script type='text/javascript'>
    $$(document).ready(function(){
        $$.ajaxSetup({
            cache: false
        });
        
        function msgok(c, m)
        {
            c.html('<div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: 4px;"></span>' + m + '</div>');
        }
        
        $if data['mail_sent']:
            var dmsg = $$('#checkout-msg');
            dmsg.show();
            msgok(dmsg, '$msg['header_cart_invoice_mail_sent'].capitalize().');
    });
    </script>

    <div class='content'>
    <div id='checkout-msg' style='display: none;'></div>
    <br>
    <pre>
    $data['invoice_text']
    </pre>
    </div>
