$def with(title, data)

$var title: $title

$if mobile and mobile == 'xhtmlmp':
    $msg['msg_mobile_not_available'].capitalize().
$elif mobile and mobile == 'wml':
    $msg['msg_wap_not_available'].capitalize().
$else:
    <script type='text/javascript'>
    $$(document).ready(function(){
        $$.ajaxSetup({
            cache: false
        });
        
        function msgok(c, m)
        {
            c.html('<div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: 4px;"></span>' + m + '</div>');
        }
        
        var offline = $$('#offline-msg');
        msgok(offline, "$msg['msg_site_offline_maint'].capitalize().");
        
    });
    </script>

    <div class='content'>
    <h3>$msg['title_offline'].capitalize()</h3>
    <br>

    <div id='offline-msg'></div>


    </div>
