$def with(title, data)

$var title: $title

$if mobile and mobile == 'xhtmlmp':
    $msg['msg_mobile_not_available'].capitalize().
$elif mobile and mobile == 'wml':
    $msg['msg_wap_not_available'].capitalize().
$else:
    $ tabs = []
    $for i in data['product']:
        $if i[0] not in tabs: 
            $tabs.append(i[0])

    <script type='text/javascript'>
    $$(document).ready(function(){
        $$.ajaxSetup({
            cache: false
        });
        
        function msgok(c, m)
        {
            c.html('<div class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: 4px;"></span>' + m + '</div>');
        }

        function msgerr(c, m)
        {
            c.html('<div class="ui-state-error ui-corner-all" style="margin-top: 10px; padding: 10px;"><span class="ui-icon ui-icon-alert" style="float: left; margin-right: 4px;"></span>' + m  + '</div>');
        } 

        $if not data['product']:
            var noproduct = $$('#msg-no-product');
            msgerr(noproduct, "$msg['msg_no_product'].capitalize().");
        
        $if len(tabs) > 1:
            $$('#tabs').tabs();

        $for j in data['product']:
            $for k in j[1]:
                $$('#detail-link-$k[0].id').click(function(){
                    $$(this).hide();
                    $$('#detail-$k[0].id').show(200);
                    return false;
                });
            
                $$('#msg-$k[0].id').click(function(){
                    $$(this).hide(); //pD?                
                })
                
                $if ucart() == '1':
                    $for x in k[1]:
                        $if not x.stock: 
                            $ continue
                        
                        $$('#cart-btn-$x.id').click(function(){
                            var vid = $x.id;
                            var amt = $$('#cart-sel-$x.id').val();
                            var mcnt = $$('#msg-$k[0].id');

                            mcnt.show();                           
                            mcnt.html("<br><i>$msg['msg_wait']</i>");
                            
                            $$.post(
                                "$ub('/cart/add')",
                                {vid: vid, amt: amt, api:1},
                                function (data)
                                {
                                    var data2 = data.split(',');
                                    if (data2[0] == 'outofstock')
                                    {
                                        $$('#cart-sel-$x.id').html('');
                                        $$('#stock-$x.id').html("$msg['cmd_cart_out_of_stock']");
                                        msgerr(mcnt, "$msg['msg_error'].capitalize(). $msg['msg_cart_out_of_stock'].capitalize().");
                                    }                                
                                    else if (data2[0] == 'value')
                                    {
                                        msgerr(mcnt, "$msg['msg_error'].capitalize(). $msg['msg_input_error'].capitalize().");
                                    }
                                    else if (data2[0] == 'error')
                                    {
                                        msgerr(mcnt, "$msg['msg_error'].capitalize(). $msg['cmd_please'].capitalize() <a href='$ub('/contact')'>$msg['menu_contact']</a>.");
                                    }
                                    else if (data2[0] == 'ok')
                                    {
                                        msgok(mcnt, '$msg['msg_cart_added'].capitalize(): <b>$x.name</b> (' + amt + '). <a href="$ub('/cart')">$msg['cmd_cart_view']</a>');
                                        
                                        if (data2[1]>0)
                                        {
                                            $$('#cart-sel-$x.id').html('');
                                            var opts;
                                            for (i=1; i<= data2[1]; i++)
                                            {
                                                opts = "<option value=" + i.toString() + ">" + i.toString() + "</option>";
                                                $$(opts).appendTo("#cart-sel-$x.id");
                                            }
                                        }
                                        else
                                        {
                                            $$('#stock-$x.id').html("$msg['cmd_cart_out_of_stock']");
                                        }
                                        
                                    }
                                }                       
                            );                    
                            
                        })



    });
    </script>


    $if len(tabs) > 1:
        <div id='tabs'>
        <ul>
        $for i in tabs:
            <li><a href='#cat$i[0]'>$i[1]</a></li>
        </ul>

    $if not data['product']:
        <div class='content'>
        <div id='msg-no-product'></div>
        </div>

    $for i in tabs:
        <div class='content' id='cat$i[0]'>
        $for j in data['product']:
            $if j[0] == i:
                $for k in j[1]:
                    <a name='a-$k[0].id'></a>
                    <span class='title'>$:k[0].name</span><br>
                    <table class='product'>
                    <tr>
                    
                    $if k[0].file:
                        <td width='220'>
                        $if 'image' in k[0].file[1].type.lower():
                            <img src="$k[0].file[0]" width='200'>
                        $elif 'shockwave-flash' in k[0].file[1].type.lower():
                            $:iflash(k[0].file[0], width='200', scale='default')
                    $else:
                        <td width='1'>
                        &nbsp;
                    </td>
                    
                    <td>
                    $:k[0].description
                    $if k[0].full_info:
                        <a id='detail-link-$k[0].id' href='#' class='linkdetail'>$msg['cmd_detail']</a>
                        <div class='fullinfo' id='detail-$k[0].id' style='display: none;'>
                            $:k[0].full_info
                        </div>
                    <div id='msg-$k[0].id' style='display: none;'></div>
                    <table class='variant'>

                    <br>
                    $for x in k[1]:
                        <tr>
                        $if x.variant_file_id:
                            <td><a href="$ub('/fs/')$x.variant_file_id?download=1">$x.name</a></td>
                        $else:
                            <td>$x.name</td>
                        
                        <td align='right'><span class='currency_symbol'>$x.currency</span>$x.price</td>
                        $if ucart() == '1':
                            <td>
                            <div id='stock-$x.id'>
                            $if x.stock:
                                <select id='cart-sel-$x.id'>
                                $for c in range(1,x.stock+1):
                                    <option value='$c'>$c</option>
                                </select>
                                <a href='#a-$k[0].id' id='cart-btn-$x.id'>$msg['cmd_cart_add']</a>
                            $else:
                                $msg['cmd_cart_out_of_stock']
                            </td>
                            </div>
                        </tr>
                    
                    </table>
                    
                    </td>
                    </tr>
                    </table>
                    <br>

        </div>

    </div>
