[account]
user = 
pass = 
level = standard

[db]
host = localhost
user = 
pass = 
name = 

[mail]
smtp = 
user = 
pass =  
default = 
webmail = 

[session]
dir = /session/

[template]
dir = /template/

[url]
base = /

[font]
dir = /font/

[doc]
admin = /documentation/doc.pdf
